{% extends 'base.html' %}
{%load static %}
{% load humanize %}
{% load i18n %}


{%block title%}

{%if LANGUAGE_CODE == 'ar'%}
البداية
{%else%}
Home
{%endif%}


{%endblock%}


{%block content%}
    <!--show cart side navbar-->
    <div class="show-cart-side-navbar btn bg-light border hide" id="show-cart-navbar-id">
        <a href="#"><i class="bi bi-bag-fill h1" onclick="showSideCartNavbar();"></i></a>
      </div>
      <!--end show cart side-->

      <!--=======================cart side navbar=================================-->


  <div class="cart-side-navbar text-center " id="cart-side-navbar">
    <a href="#" class="btn btn-outline-danger my-2" onclick="closeThis()"><i class="bi bi-x-lg"></i></a>
    <hr class="my-0">
    عربة التسوق
    <br/>
    الإجمالي الفرعي
    <br/>
    300.50 <sup>ريال</sup>
   
    <!--cart items-->
    <div class="border">
    <img src="../media/products/1.jpg" width="100" class="m-2"/>
    <p>2500 <sup>ريال</sup></p>
    </div>
    <!--end item-->

     <!--cart items-->
     <div class="border">
      <img src="../media/products/1.jpg" width="100" class="m-2"/>
      <p>2500 <sup>ريال</sup></p>
      </div>
      <!--end item-->

  </div>


  <!--=======================End cart side navbar==============================-->

    <!--======================Content=========================-->
    <div class="container">

        <!--top selling items-->
        <h4 class="my-3">المنتجات الأكثر مبيعاً</h4>
        <!--related items-->
  
        <div class="container">
          <div class="row">
  
  
            <div class="MultiCarousel">
                    <div class="MultiCarousel-inner">
  
   <!--==show 20 items related to selected product ==-->
    <div class="item"><!--item start-->
                             <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div><!--end item-->
  
  
  
  
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                             <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                          <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                           <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                             <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                            <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                        </div>
                        <div class="item">
                           
                               <!--Product card-->
    <div class="col product-card-link p-0 ">
      <a href="product_detail.html">
      <div class="card h-100 m-1">
        <img src="../media/products/1.jpg" class="card-img-top p-2" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  
          <p class="product-rating"> <sup class="text-primary">(100)</sup>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </p>
  
          <p class="card-price">2,500.00 <sup>ريال</sup></p>
        </div>
  
        <div class=" text-center card-footer">
          <small class="text-muted">Added Date : april-12-2023</small>
        </div>
  
      </div>
    </a>
    </div><!--end product card-->
                              
                         
                        </div>
                    </div>
                  
                </div>
          </div>
        
        </div>
  
        <!--end related items-->
        <!--end top selling items-->
       <hr>
        <h4 class="my-3">  جميع المنتجات  {{productsCount}}</h4>
        <div class="row row-cols-1 row-cols-md-4 g-4 m-1">
         

          {%for product in products%}
          <!--Product card-->
          <div class="col product-card-link p-0 ">
            <a href="{{product.get_url}}">
            <div class="card h-100 m-1">
              <img src="{{product.image_1.url}}" class="card-img-top p-2" alt="...">
              <hr>
              <div class="card-body">
                <h5 class="card-title">{{product.product_name}}</h5>
                <p class="card-text">{{product.description}}</p>
  
                <p class="product-rating"> <sup class="text-primary">(100)</sup>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </p>
  
                <p class="card-price">{{product.price}} <sup>ريال</sup></p>
              </div>
  
              <div class=" text-center card-footer">
                <small class="text-muted">{{product.created_date}}</small>
              </div>
  
            </div>
          </a>
          </div><!--end product card-->
          {%endfor%}
        
         
  
       
  
        
  
         
        
  
  
        
  
        </div><!--end row-->
  
  
  
      </div>
      <!--=====================end content=======================-->

      <nav class="mt-4" aria-label="Page navigation sample">
        {%if products.has_other_pages%}
      <ul class="pagination">
         {%if products.has_previous%}
        <li class="page-item "><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
         {%endif%}

        
         {% for i in products.paginator.get_elided_page_range%}
         {% if products.number ==  i %}
         <li class="page-item active">
           <a class="page-link" href="#">{{i}}</a>
         </li>
         {%else %}
         <li class="page-item ">
           <a class="page-link" href="?page={{i}}">{{i}}</a>
         </li>
         {%endif%}
          {%endfor%}


        {%if products.has_next%}
        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
        {%endif%}
      </ul>
      {%endif%}

    </nav>
  
{%endblock%}

{%block js%}
<script>
    function closeThis()
    {
      cartNAVbar = document.getElementById('cart-side-navbar');
      cartNAVbar.classList.add("hide");
      document.getElementById('show-cart-navbar-id').classList.remove('hide');
    }
  
    function showSideCartNavbar()
    {
      document.getElementById('cart-side-navbar').classList.remove('hide');
      document.getElementById('show-cart-navbar-id').classList.add('hide');
    }
  </script>
{%endblock%}