{%load static %}

 <!--Header-->
 <nav class="navbar bg-dark  " data-bs-theme="dark">

    <ul class="nav w-100 justify-content-center">

   <li class="nav-item logo p-2 btn-fff-hover my-auto">
    <a href="{%url 'home'%}" ><img src="{% static 'logo/alsuwq.svg' %}"/></a>
   </li>
    
   <li class="nav-item mx-3 btn-fff-hover">
     <a class=" location-btn">
      {%if LANGUAGE_CODE == 'ar'%}
      التوصيل إلى
      {%else%}
      Deliver to
      {%endif%}
        <br/>
        <i class="bi bi-geo-alt"></i>   
        المملكة العربية 
     </a>
   </li>

   <li class="nav-item my-auto">


     <!--categories-->
     <div class="dropdown">
        <a class=" dropdown-toggle dropdown-toggle-categories" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         
          {%if LANGUAGE_CODE == 'ar'%}
         الكل
         {%else%}
         All
         {%endif%}
        </a>
      
        <ul class="dropdown-menu ">
          {%for category in links%}
          <li><a class="dropdown-item text-white" href="{{category.get_url}}">{{category.name}}</a></li>
         
          {%endfor%}
        </ul>
      </div>
    <!---->


  </li>

<li class="nav-item my-auto search-input">
 
    <input type="text" placeholder=" {%if LANGUAGE_CODE == 'ar'%}البحث في alsuwq.sa {%else%}Search in alsuwq....{%endif%}">
   
</li>

<li class="nav-item my-auto search-btn">


    <a href=""><i class="bi bi-search"></i></a>


</li>

<li class="nav-item my-auto language-tap ">
      <!--lang-->
      <div class="dropdown btn-fff-hover p-3 ">

        <a class=" dropdown-toggle dropdown-toggle-language " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {%if LANGUAGE_CODE == 'ar'%}
            <img src="{% static 'icons/icons8_saudi_arabia_100px.png' %}" width="30"/> AR 
            {%else%}
            <img src="../static/icons/icons8_usa_100px.png" width="30"> EN
            {%endif%}

        </a>
      
        <ul class="dropdown-menu ">
          {%if LANGUAGE_CODE == 'ar'%}
          <li>

            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="language" value="en" />
              <input name="next" type="hidden" value="{{ redirect_to }}">
              <button  class="dropdown-item  text-white" type="submit"><img src="../static/icons/icons8_usa_100px.png" width="30"> EN</button>
            </form>

          </li>
          {%else%}
          <li>
            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="language" value="ar" />
              <input name="next" type="hidden" value="{{ redirect_to }}">
            <button class="dropdown-item  text-white" type="submit"><img src="{% static 'icons/icons8_saudi_arabia_100px.png' %}" width="30"/> AR</button>
            </form>
          </li>
          {%endif%}
          
        </ul>
      </div>
      <!---->
</li>

<!--login-->
<li class="nav-item mx-3 btn-fff-hover">
 
      <!--lang-->
      <div class="dropdown">

        <a class=" dropdown-toggle dropdown-toggle-login" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {%if LANGUAGE_CODE == 'ar'%}
           مرحباً تسجيل الدخول
           <br/>
           الحساب و القوائم
           {%else%}
           Hello, sign in
           <br/>
           Account & Lists 
           {%endif%}
        </a>
      
        <ul class="dropdown-menu dropdown-menu-style">

          <li class="p-3 text-center text-dark">
            <a class=" btn login-btn w-100 mx-1  text-black" href="{%url 'login'%}">تسجيل الدخول</a>
            <br/>
            <br/>
            هل أنت مستخدم جديد؟   <a href="register.html" class="newRegistration-btn">أبدأ من هنا</a>
          </li>

          <li class="text-center text-dark menu-login-item p-3">
           <a href="user_dashboard.html" class="btn login-btn text-black w-100 mx-1"> حسابك</a>
          </li>

          <li class="text-center text-dark menu-login-item p-3">
            <a href="" class="btn login-btn text-black w-100 mx-1"> 
              {%if LANGUAGE_CODE == 'ar'%}
              مشترياتك
              {%else%}
              Your Orders
              {%endif%}
            </a>
           </li>

           <li class="text-center text-dark menu-login-item p-3">
            <a href="" class="btn login-btn text-black w-100 mx-1"> عناوينك</a>
           </li>

           <li class="text-center text-dark menu-login-item p-3">
            <a href="" class="btn login-btn text-black w-100 mx-1"> قوائمك</a>
           </li>

           <li class="text-center text-dark menu-login-item p-3">
            <a href="" class="btn login-btn text-black w-100 mx-1"> حساب البيع الخاص بك</a>
           </li>

          
        </ul>
      </div>
      <!---->

</li>

<li class="nav-item  btn-fff-hover my-auto p-3">
  <a href="" class="location-btn">
    {%if LANGUAGE_CODE == 'ar'%}
    مشترياتك
    {%else%}
    Orders
    {%endif%}
    
  </a>
</li>

<li class="nav-item  btn-fff-hover my-auto p-3">
  <a href="cart.html" class="location-btn"></i><sup class="badge text-bg-danger">3000</sup><i class="bi bi-cart3 h3"></i> 
    {%if LANGUAGE_CODE == 'ar'%}
     عربة التسوق 
     {%else%}
     Cart 
     {%endif%}
    </a>
</li>

   </ul>
   
   </nav>
    <!--end Header-->