
{% extends 'base.html' %}
{%load static%}
{% block content %}
<!--======================Content=========================-->
<div class="container">
     
    <h4 class="my-3">
        الحساب الخاص بك
    </h4>

    <div class="row row-cols-3"><!--row-->

        <!--col-->
        <div class="col my-3">
          <!--card-->
          <div class="card">
           <a href="your_account.html" class="btn btn-hover-green">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <img src="{% static 'icons/Webiconset-Application-Register.128.png' %}" width="70" class="img-fluid">
                </div>
                <div class="col">
                    <h6> تسجيل الدخول و الآمان</h6>
                    تعديل الاسم و رقم الهاتف المحمول و البريد الإلكتروني و كلمة المرور
               </div>

               </div><!--end row-->
             
             
            </div><!--end card body-->
               </a>
          </div><!--end card-->
          
        </div><!--end Col-->



        <!--col-->
        <div class="col my-3">
          <!--card-->
          <div class="card">
           <a href="{%url 'your_orders'%}" class="btn btn-hover-green">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <img src="{% static 'icons/Double-J-Design-Ravenna-3d-Box.256.png' %}" width="70" class="img-fluid">
                </div>
                <div class="col">
                    <h6> الطلبات الخاصة بك</h6>
                    تتبع السلع أو إرجاعها أو شراؤها مرة آخرى
               </div>

               </div><!--end row-->
             
             
            </div><!--end card body-->
               </a>
          </div><!--end card-->
          
        </div><!--end Col-->


        <!--col-->
        <div class="col my-3">
          <!--card-->
          <div class="card">
           <a href="#" class="btn btn-hover-green">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <img src="{% static 'icons/Designcontest-Ecommerce-Business-Master-card.256.png' %}" width="70" class="img-fluid">
                </div>
                <div class="col">
                    <h6> مدفوعاتك</h6>
                    الإطلاع على كل المعاملات و تعديل طرق الدفع
               </div>

               </div><!--end row-->
             
             
            </div><!--end card body-->
               </a>
          </div><!--end card-->
          
        </div><!--end Col-->


        <!--col-->
        <div class="col my-3">
          <!--card-->
          <div class="card">
           <a href="{%url 'your_email'%}" class="btn btn-hover-green">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <img src="{% static 'icons/Wwalczyszyn-Android-Style-Mail.256.png' %}" width="70" class="img-fluid">
                </div>
                <div class="col">
                    <h6> رسائلك</h6>
                   الرسائل الصادرة و الواردة إليك
               </div>

               </div><!--end row-->
             
             
            </div><!--end card body-->
               </a>
          </div><!--end card-->
          
        </div><!--end Col-->


        <!--col-->
        <div class="col my-3">
          <!--card-->
          <div class="card">
           <a href="{%url 'your_addresses'%}" class="btn btn-hover-green">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <img src="{% static 'icons/Pixelkit-Flat-Jewels-Location.512.png' %}" width="70" class="img-fluid">
                </div>
                <div class="col">
                    <h6> عناوينك</h6>
                   تعديل عناوينك
               </div>

               </div><!--end row-->
             
             
            </div><!--end card body-->
               </a>
          </div><!--end card-->
          
        </div><!--end Col-->



        <!--col-->
        <div class="col my-3">
          <!--card-->
          <div class="card">
           <a href="{%url 'wishlist'%}" class="btn btn-hover-green">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <img src="{% static 'icons/Oxygen-Icons.org-Oxygen-Actions-bookmark-new-list.256.png' %}" width="70" class="img-fluid">
                </div>
                <div class="col">
                    <h6> قوائمك</h6>
                   عرض تعديل قوائمك
               </div>

               </div><!--end row-->
             
             
            </div><!--end card body-->
               </a>
          </div><!--end card-->
          
        </div><!--end Col-->



       

         


           


           

          




    </div><!--end row-->

</div><!--end content-->

<!--=====================end content=======================-->
{% endblock content %}