{% extends 'base.html' %}


{% block content %}


<div class="text-center my-5">
   
    </div>
    
    <div class="signin-card my-auto mx-auto text-center">
       
    <h5 class="my-2">تسجيل الدخول</h5>
    <hr>
    <input type="email" name="email" class="form-control my-2" placeholder="email"/>
  
    <input type="password" name="password" class="form-control my-2" placeholder="password"/>
    <hr>
    <input type="submit" value="تسجيل الدخول" class="btn btn-outline-success w-100"/>
    
    </div>
   

{% endblock content %}