{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    {% include 'layout/alert.html' %}
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">set new password</h4>

          <form action="{%url 'resetPassword' uidb64=uid token=token%}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                 <input type="password" name="password" class="form-control" placeholder="Password" >
              </div> <!-- form-group// -->
              <br/>
              <div class="form-group">
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" >
              </div> <!-- form-group// -->
              
              <br/>
             
              <div class="form-group">
                  <button type="submit" class="btn btn-outline-success btn-block w-100"> Reset  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
       
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}