{% extends 'base.html' %}
{% load static %}
{% block title %}
Your addresses
{% endblock title %}

{% block content %}

 <!--======================Content=========================-->
 <div class="container">

    <h4 class="my-3">  
        عناوينك
    </h4>

    <hr>

    <div class="row row-cols-3 g-3"><!--row-->

     <div class="col"><!--start col-->
      <div class="card dashed-border h-100 my-2">
      <div class="card-header text-center">
        إضافة عنوان جديد
      </div>
        <div class="card-body text-center align-middle fw-bolder ">
           <a href="" class="btn btn-outline-success my-5">
           <img src="{% static 'icons/Add.png' %}" class="">
           </a>

        </div>
      </div>
     </div><!--end col-->



     
    <div class="col"><!--start col-->
        <div class="card dashed-border h-100 my-2">
        <div class="card-header text-center">
          العنوان الرئيسي
        </div><!--end header-->
          <div class="card-body text-center align-middle fw-bolder">
           
            Ali Musa Omar Alhashim <br/>
            Saudi Arabia Eastern province <br/>
            8058 - Al Aujam SAFWA 32674 - 3995 <br/>
            Safwa Eastern Province Al Aujam <br/>
            المملكة العربية السعودية <br/>
            رقم الهاتف: ‪0547078933‬


          </div><!--end body-->
          <div class="card-footer text-center"><!--card-footer-->
           <a href="#" class="btn btn-outline-dark mx-5">تعديل</a>
           <a href="#" class="btn btn-outline-dark mx-5">حذف</a>
          </div><!--end card footer-->
        </div><!--end card-->
       </div><!--end col-->




       <div class="col"><!--start col-->
        <div class="card dashed-border h-100 my-2">
        <div class="card-header text-center">
          العنوان الرئيسي
        </div><!--end header-->
          <div class="card-body text-center align-middle fw-bolder">
           
            Ali Musa Omar Alhashim <br/>
            Saudi Arabia Eastern province <br/>
            8058 - Al Aujam SAFWA 32674 - 3995 <br/>
            Safwa Eastern Province Al Aujam <br/>
            المملكة العربية السعودية <br/>
            رقم الهاتف: ‪0547078933‬


          </div><!--end body-->
          <div class="card-footer text-center"><!--card-footer-->
           <a href="#" class="btn btn-outline-dark mx-5">تعديل</a>
           <a href="#" class="btn btn-outline-dark mx-5">حذف</a>
          </div><!--end card footer-->
        </div><!--end card-->
       </div><!--end col-->


       <div class="col"><!--start col-->
        <div class="card dashed-border h-100 my-2">
        <div class="card-header text-center">
          العنوان الرئيسي
        </div><!--end header-->
          <div class="card-body text-center align-middle fw-bolder">
           
            Ali Musa Omar Alhashim <br/>
            Saudi Arabia Eastern province <br/>
            8058 - Al Aujam SAFWA 32674 - 3995 <br/>
            Safwa Eastern Province Al Aujam <br/>
            المملكة العربية السعودية <br/>
            رقم الهاتف: ‪0547078933‬


          </div><!--end body-->
          <div class="card-footer text-center"><!--card-footer-->
           <a href="#" class="btn btn-outline-dark mx-5">تعديل</a>
           <a href="#" class="btn btn-outline-dark mx-5">حذف</a>
          </div><!--end card footer-->
        </div><!--end card-->
       </div><!--end col-->





    </div><!--end row-->


  
   
  



    </div><!--end content-->

   <!--=====================end content=======================-->



{% endblock content %}

